<form action="/search">
    <div>
        <label for="recipe">Receita: </label>
        <input type="text" name="recipe" id="recipe">
    </div>
    <div>
        <label for="ingredient">Ingrediente: </label>
        <input type="text" name="ingredient" id="ingredient">
    </div>
    <div>
        <input type="submit" value="Pesquisar">
    </div>
</form>